{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Raghavendra</title>
    <link href="{% static '/css/home.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body class="body">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body bg-transparent border-info">
                    <img class="profile" src="https://media.licdn.com/dms/image/C5603AQEmcfPWy71u_w/profile-displayphoto-shrink_400_400/0/1638329879030?e=1683763200&v=beta&t=C4u5EUuqhOHdOiPqbZg-yWPBH83hmvOU0JPWEkw_U38" alt="raghavendra">
                    
                <center><h6 class="text" ><hr>VATTIKUTI RAGHAVENDRA</h6></center> 
                </div>
                
            </div>
            <div class="col-md-9">
                <div class="card card-body bg-transparent border-info" >
                    <div class="text" style="font-size: 15px;">WHO I AM <hr> </div>
                    <h6 class="text">Hi there I'm Vattikuti Raghavendra.AN aspiring FULL STACK WEB DEVELOPER.I love combining the worlds of logic and creative design to make eye-catching, accessible, and user-friendly websites and applications.
                        <br><br>
                        Technology leads, society follows. The move towards increasing inclusivity and diversity in the industry through representation is of importance to me.
                        <br>
                        <br>
                        I'm excited to make the leap and continue refining my skills with the right company.
                    </h6>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body bg-transparent border-info">
                    <ul class="text">
                        Education
                        <hr>
                        <li>B-TECH at VISHNU INSTITUTE OF TECHNOLOGY</li>
                        <li>ARTIFICIAL INTELLIGENCE AND DATA SCIENCE</li>
                        <li>FULL STACK WEB DEVELOPMENT</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body bg-transparent border-info">
                    <ul class="text">
                        Skills 
                        <hr>
                        <li>FULL STACK WEB DEVELOPMENT</li>
                        <li>C</li>
                        <li>PYTHON</li>
                        <li>JAVA</li>
                        <li>SQL</li>
                    </ul>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body bg-transparent border-info"> <div class="text"> What i know <hr>
                Python,Django,HTML/CSS,JavaScript/Jquery,React,Wagtail,Bootstrap,Content Writing.
                a whole bunch more i can't possibly mention in one sentence.
                <br><br>
                PS: Working on Node JS,Machine Learning.
            </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body bg-transparent border-info">
                    <ul class="text">Contact <hr>
                        <li>mail : vattikutiraghavendra3@gmail.com</li>
                        <li>instagram : @raghavendra_v_</li>
                        <li>linkedin : <a href="https://www.linkedin.com/in/raghavendra-vattikuti-6465a2227/?originalSubdomain=in">Go to Profile</a> </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</body>
</html>